<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>New Post</h2>
      <hr>

      <%= form_for @post, html: { multipart: true } do |f| %>
        <div class="panel panel-default">
          <%= f.label :image %>
          <%= f.file_field :image, class: 'panel-body'%>
        </div>
        <br>
          <%= f.label :description %>
          <%= f.text_area :description, class: 'form-control' %>
        <br>
          <%= f.submit class: 'btn btn-success'%>
      <% end %>
    </div>
  </div>
</div>
